body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 50px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

/* Sections */
section {
    padding: 40px 20px;
    background: white;
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

/* Skills */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

/* Image projet */
.project-image {
    width: 70%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Bouton */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #004999;
}

/* Footer */
footer {
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 40px;
}